<!--
@Author: Alex Fultz <Fultzy>
@Date:   23-Aug-2021 (09:08)
@Last modified by:   Fultzy
@Last modified time: 23-Aug-2021 (10:08)
-->

<h1>edit</h1>
<div class="form">
  <%= form_with model: @user do |f| %>

    <%= f.label :username %><br>
    <%= f.text_field :username %><br>
    <% @user.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
    <% end %>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <%= f.password_field :password_confirmation %><br>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>

    <%= f.label :email %><br>
    <%= f.text_field :email %><br>
    <%= f.text_field :email_confirmation %><br>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>

    <%= f.submit %>
  <% end %>
</div>
